.caught-pokemon__header {
  display: flex;
  justify-content: space-between;
  margin: var(--spacing-xlarge) 0;
  align-items: baseline;
}

.caught-pokemon__title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (max-width: 768px) {
  .caught-pokemon__header {
    flex-direction: column;
    align-items: center;
  }

  .caught-pokemon__title {
    margin-bottom: var(--spacing-medium);
  }
}
