.search-box {
  min-width: 100%;
  padding: 1em;
  margin-bottom: var(--spacing-large);
  background-color: white;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #ff5350;
}
