.type-checkbox {
  display: inline-block;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: white;
  opacity: 0.5;
}

.type-checkbox input {
  display: none;
}

.type-checkbox.selected {
  opacity: 1;
}

.type-checkbox--clear-filter {
  border: 1px solid #cccccc;
  color: var(--text-dark);
  cursor: pointer;
}
