.pokemon-card {
  position: relative;
  max-width: 250px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 2em;
}

.pokemon-card__id {
  text-transform: capitalize;
  color: #8f9396;
  font-weight: bold;
}
.pokemon-card__title {
  text-transform: capitalize;
  font-weight: bold;
  color: #0f222f;
}

.pokemon-card__image {
  position: absolute;
  top: -50px;
  left: calc(50% - 45px);
}

.pokemon-card__content {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .pokemon-card {
    max-width: 100%;
  }
}
