.pokemon-card {
  position: relative;
  max-width: 250px;
  background: white;
  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 10px;
  padding: 2em;
}

.pokemon-card__id {
  text-transform: capitalize;
  color: #8f9396;
  font-weight: bold;
}
.pokemon-card__title {
  text-transform: capitalize;
  font-weight: bold;
  color: #0f222f;
  margin-bottom: 12px;
}

.pokemon-card__image {
  position: absolute;
  top: -50px;
  left: calc(50% - 45px);
}

.pokemon-card__content {
  cursor: pointer;
}

.pokemon-card__actions {
  display: flex;
  justify-content: space-evenly;
  margin-top: 12px;
}

.pokemon-card__note {
  width: 100%;
  background: #fff;
  border-radius: 6px;
  padding: 5px;
  color: #000;
}

@media screen and (max-width: var(--medias-screen-small)) {
  .pokemon-card {
    max-width: 100%;
  }
}
