.pokemon-detail {
  top: 5em;
  height: fit-content;
  min-width: 20%;
  position: sticky;
  margin-top: 75px;
  padding: 2em;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pokemon-detail__title {
  text-transform: capitalize;
  font-weight: bold;
  color: #0f222f;
}

.pokemon-detail__id {
  margin-top: 16px;
  font-size: 1.2em;
  color: #8f9396;
}

.pokemon-detail__subtitle {
  font-size: 0.8em;
  font-weight: bold;
}

.pokemon-detail__text {
  font-size: 0.8em;
}

.pokemon-detail__section {
  margin-bottom: var(--spacing-large);
}

.pokemon-detail__close {
  position: absolute;
  top: -4em;
  right: 0;
  border: none;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  padding: 1px 3px;
  background: #eaecf0;
  cursor: pointer;
  color: var(--text-dark);
  font-size: 1em;
  font-weight: bold;
}
.pokemon-detail__tags {
  border-radius: 15px;
  background-color: #edeef3;
  padding: 5px 10px;
  margin: 10px 3px;
  font-size: 0.8em;
  color: #0f222f;
}

.pokemon-detail__image {
  position: absolute;
  top: -5.5em;
  left: calc(50% - 75px);
  width: 150px;
}

.pokemon-detail__list-types,
.pokemon-detail__stats {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-bottom: var(--spacing-large);
}

.pokemon-detail__abilities {
  display: flex;
  flex-direction: initial;
  justify-content: space-between;
}

.pokemon-detail__ability {
  width: 50%;
}

.pokemon-detail__ability b {
  font-size: 0.8em;
}

.pokemon-detail__stats {
  flex-direction: column;
}

.pokemon-detail__types {
  border-radius: 5px;
  margin: 5px;
  width: fit-content;
  padding: 1px 12px;
}

@media (max-width: 768px) {
  .pokemon-detail {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    margin-top: 0;
    z-index: 4;
  }
  .pokemon-detail__image {
    position: initial;
    margin: 0 auto;
  }
  .pokemon-detail__close {
    top: 40px;
    right: 40px;
    font-size: 1.5em;
    width: 50px;
    height: 50px;
  }
}
